<div class="modal user-settings" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-primary text-white" id="change-name">
                        <i class="fas fa-user"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control settings-inputs settings-username"placeholder="Gebruikersnaam" aria-describedby="change-name">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-primary text-white" id="chane-pass">
                        <i class="fas fa-lock"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control settings-inputs settings-password" placeholder="Wachtwoord" aria-describedby="chane-pass">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-primary text-white" id="change-pass-reapeat">
                        <i class="fas fa-lock"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control settings-inputs settings-repeat-password" placeholder="Herhaal Wachtwoord" aria-describedby="change-pass-reapeat">
                </div>

                <button type="submit" class="btn btn-secondary settings-update">
                    Bijwerken
                    <i class="fas fa-save"></i>
                </button>
                <button type="submit" class="btn btn-danger settings-cancel">
                    Cancel
                    <i class="fas fa-ban"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal update-users" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-primary text-white" id="change-name">
                        <i class="fas fa-user"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control update-users-inputs update-users-username" placeholder="Gebruikersnaam" aria-describedby="change-name">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-primary text-white" id="chane-pass">
                        <i class="fas fa-lock"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control update-users-inputs update-users-password" placeholder="Wachtwoord" aria-describedby="chane-pass">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-primary text-white" id="change-pass-reapeat">
                        <i class="fas fa-lock"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control update-users-inputs update-users-repeat-password" placeholder="Herhaal Wachtwoord" aria-describedby="change-pass-reapeat">
                </div>

                <div class="input-group mb-3 input-group-prepend">
                    <div class="input-group-prepend">
                        <label class="input-group-text bg-primary text-white" for="choosScenario">Level</label>
                    </div>
                    <select class="form-control update-user-level">
                        <option class="update-user-options update-user-option1" value="3">Student</option>
                        <option class="update-user-options update-user-option2" value="2">Docent</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-secondary update-users-update">
                    Bijwerken
                    <i class="fas fa-save"></i>
                </button>
                <button type="submit" class="btn btn-danger update-users-cancel">
                    Cancel
                    <i class="fas fa-ban"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal scenario-edit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <span>categorie:</span>
                  <div class="input-group">
                      <select id="scenario-editcategory" class="form-control" name="scenario-editcategory">
                        <option value="0">Dienstverlening</option>
                        <option value="1">represief</option>
                        <option value="2">Preventief</option>
                      </select>
                  </div>
                </div>
                <div class="form-group">
                    <label>name</label>
                    <input type="text" class="form-control update-scenarios-name" >
                </div>
                <div class="form-group">
                  <span>Geluid:</span>
                  <div class="input-group">
                      <select id="scenario-editsound" class="js-new-scenario-sound form-control" name="scenario-sound" aria-describedby="scenario-sound">

                      </select>
                      <div class="input-group-append">
                          <button class="btn btn-secondary js-preview-sound"><i class="fas fa-volume-up"></i></button>
                      </div>
                  </div>
                </div>
                <div class="js-scenario-edit-step scenario-edit-container hidden">
                    <h4>Stap <span class="">{{index}}</span></h4>

                    <div class="form-group row edit-row">
                      <label class="col-form-label edit-tag">Stap</label>
                      <div class="edit-row-row">
                        <input class="js-scenario-edit-edit js-scenario-edit-{{index}} form-control" type="text" name="" value="{{description}}">
                      </div>
                    </div>
                    <div class="form-group row edit-row">
                      <label class="col-form-label edit-tag">Info</label>
                      <div class="edit-row-row">
                        <input class="form-control js-scenario-edit-detail-{{index}} js-scenario-edit-detail" type="text" name="" value="{{detail}}">
                      </div>
                    </div>
                </div>
                <div class="scenario-edit-options-container">

                </div>
                <button type="submit" class="btn btn-primary update-scenarios-update">bijwerken</button>
                <button type="submit" class="btn btn-secondary update-scenarios-add">Stap toevoegen</button>
            </div>
        </div>
    </div>
</div>

<div class="modal js-confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title confirm-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="confirm-text">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success confirm-save-change">Accepteren</button>
                <button type="button" class="btn btn-danger confirm-delete-change" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
