<div class="templateContainer">
    <template class="level1-user-template">
        {{#.}}
        <tr class="templaterow level1-index{{index}}">
            <td>{{id}}</td>
            <td>{{username}}</td>
            <td>{{level}}</td>
            <td><button type="button" data-id="{{id}}" class="btn btn-primary level1-btn-edit">aanpassen</button></td>
            <td><button type="button" data-id="{{id}}" class="btn btn-danger level1-btn-delete">verwijderen</button></td>
        </tr>
        {{/.}}
    </template>

    <template class="level2-scenario-template">
        {{#.}}
        <tr class="templaterow level2-index{{id}}">
            <td>{{id}}</td>
            <td class="username">{{name}}</td>
            <td>
                <button data-id="{{id}}" type="button" class="btn btn-primary level2-btn-edit">Aanpassen</button>
                <button data-id="{{id}}" type="button" class="btn btn-danger level2-btn-delete">Verwijderen</button>
            </td>
        </tr>
        {{/.}}
    </template>

    <template class="level2-scenario-edit-template">
        {{#.}}
        <div class="js-scenario-edit-step scenario-edit-container">
            <h4>Stap <span class="">{{index}}</span></h4>

            <div class="form-group row edit-row">
              <label class="col-form-label edit-tag">Stap</label>
              <div>
                <input class="js-scenario-edit-edit js-scenario-edit-{{index}} form-control" type="text" name="" value="{{description}}">
              </div>
            </div>
            <div class="form-group row edit-row">
              <label class="col-form-label edit-tag">Info</label>
              <div class="edit-row-row">
                <input class="form-control js-scenario-edit-detail-{{index}}" type="text" name="" value="{{detail}}">
              </div>
            </div>
        </div>
        {{/.}}
    </template>
</div>
