<div class="user-level user-level_2 hidden">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a data-option="1" data-level="2" class="options level_2 option_1 nav-link activ" href="#">
                Scenario's kiezen
                <i class="fas fa-clipboard-check"></i>
            </a>
        </li>
        <li class="nav-item">
            <a data-option="2" data-level="2" class="options level_2 option_2 nav-link" href="#">
                Actieve Scenario
                <i class="fas fa-plus-circle"></i>
            </a>
        </li>
    </ul>
    <div class="user-body">
        <div class="view view_2-1 hidden m-4 p-4">
            <div class="row">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <label class="input-group-text bg-primary text-white" for="choosScenario">Kies categorie</label>
                  </div>
                  <select id="scenario-choosecategory" class="form-control" name="scenario-category" style="">
                    <option value="0">Dienstverlening</option>
                    <option value="1">represief</option>
                    <option value="2">Preventief</option>
                  </select>
              </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text bg-primary text-white" for="choosScenario">Kies Scenario</label>
                    </div>
                    <select class="form-control scenario-selector js-scenarioselect" id="choosScenario">
                    </select>
                </div>
            </div>
            <div class="row row--disfl">
                <label class="switch">
                    <input class="switch__input js-switch" type="checkbox">
                    <span class="switch__span switch__span--round"></span>
                </label>
                <p>Laat de student de hulpmiddelen zien</p>
            </div>
            <div class="row row--disfl">
                <label class="switch">
                    <input class="switch__input js-soundSwitch" type="checkbox">
                    <span class="switch__span switch__span--round"></span>
                </label>
                <p>Alarm aan of uit</p>
            </div>
            <div class="row row--disfl">
                <button type="button" class="js-start-scenario btn btn-secondary">scenario activeren</button>
                <h4 class="js-lokaal"></h4>
            </div>
        </div>
        <div class="view view_2-2 m-4 p-4">
          <div class="modal-header">
              <h5 class="modal-title js-alert-title">Meldingen</h5>
          </div>
          <div class="modal-body js-alert-body">
              Er zijn geen meldingen op dit moment
          </div>
        </div>
    </div>
</div>
