$switch-width: 50px;
$switch-height: 22.5px;
$switch-dot-size: 15px;
$border-gap: 4px;
$bgc-unchecked: #ccc;
$bgc-checked: #2196F3;
$dotcol-unchecked: white;
$dotcol-checked: white;
.switch {
    position: relative;
    display: inline-block;
    width: $switch-width;
    height: $switch-height;
    &__input{
        display: none;
        &:checked + .switch__span{
            background-color: $bgc-checked;
            &:before{
                background-color: $dotcol-checked;
                transform: translateX($switch-width - ($border-gap * 2) - $switch-dot-size);
            }
        }
        &:focus + .switch__span{
            box-shadow: 0 0 1px $bgc-checked;
        }
    }
    &__span{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $bgc-unchecked;
        transition: .4s;
        &:before{
            position: absolute;
            content: "";
            height: $switch-dot-size;
            width: $switch-dot-size;
            left: $border-gap;
            bottom: ($switch-height - $switch-dot-size) / 2;
            background-color: $dotcol-unchecked;
            transition: .4s;
        }
        &--round{
            border-radius: $switch-height / 2;
            &:before{
                border-radius: 50%;
            }
        }
    }
}
