.lokaal {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #d3d3d3;
    z-index: 1;
}
@import 'verdieping0';
@import 'verdieping1';
@import 'verdieping3';
.filler {
    background-color: #a9a9a9;
    z-index: -1;
}
.verdieping {
    display: grid;
    justify-content: center;
    &__0 {
        grid-template-columns: repeat(127, 5px);
        grid-template-rows: repeat(60, 5px);
    }
    &__1 {
        grid-template-columns: repeat(126, 5px);
        grid-template-rows: repeat(70, 5px);
    }
    &__2 {
        grid-template-columns: repeat(200, 5px);
        grid-template-rows: repeat(110, 5px);
    }
    &__3 {
        grid-template-columns: repeat(34, 5px);
        grid-template-rows: repeat(96, 5px);
    }
}
