.fill1{
  grid-column-start: 1;
  grid-column-end: 119;
  grid-row-start: 17;
  grid-row-end: 53;
}

.fill2{
  grid-column-start: 100;
  grid-column-end: 119;
  grid-row-start: 53;
  grid-row-end: 63;
}

.ingang {
  grid-column-start: 1;
  grid-column-end: 17;
  grid-row-start: 17;
  grid-row-end: 27;
}

.L020{
  grid-column-start: 17;
  grid-column-end: 27;
  grid-row-start: 17;
  grid-row-end: 33;
}

.L018{
  grid-column-start: 17;
  grid-column-end: 27;
  grid-row-start: 33;
  grid-row-end: 43;
}

.L016{
  grid-column-start: 27;
  grid-column-end: 43;
  grid-row-start: 17;
  grid-row-end: 33;
}

.L014{
  grid-column-start: 42;
  grid-column-end: 59;
  grid-row-start: 17;
  grid-row-end: 33;
}

.L012{
  grid-column-start: 59;
  grid-column-end: 79;
  grid-row-start: 1;
  grid-row-end: 17;
}

.L010{
  grid-column-start: 59;
  grid-column-end: 75;
  grid-row-start: 17;
  grid-row-end: 33;
}

.L008{
  grid-column-start: 79;
  grid-column-end: 87;
  grid-row-start: 23;
  grid-row-end: 33;
}

.L007{
  grid-column-start: 49;
  grid-column-end: 59;
  grid-row-start: 43;
  grid-row-end: 53;
}

.L006{
  grid-column-start: 87;
  grid-column-end: 95;
  grid-row-start: 23;
  grid-row-end: 33;
}

.L005B{
  grid-column-start: 59;
  grid-column-end: 75;
  grid-row-start: 53;
  grid-row-end: 63;
}

.L005A{
  grid-column-start: 59;
  grid-column-end: 75;
  grid-row-start: 43;
  grid-row-end: 53;
}

.L004{
  grid-column-start: 79;
  grid-column-end: 95;
  grid-row-start: 1;
  grid-row-end: 23;
}

.L003{
  grid-column-start: 75;
  grid-column-end: 91;
  grid-row-start: 43;
  grid-row-end: 63;
}

.L002D{
  grid-column-start: 95;
  grid-column-end: 105;
  grid-row-start: 17;
  grid-row-end: 33;
}

.L002C{
  grid-column-start: 95;
  grid-column-end: 105;
  grid-row-start: 1;
  grid-row-end: 17;
}

.L002B{
  grid-column-start: 105;
  grid-column-end: 119;
  grid-row-start: 1;
  grid-row-end: 21;
}

.L002A{
  grid-column-start: 105;
  grid-column-end: 119;
  grid-row-start: 21;
  grid-row-end: 33;
}

.L001E{
  grid-column-start: 91;
  grid-column-end: 101;
  grid-row-start: 45;
  grid-row-end: 63;
}

.L001D{
  grid-column-start: 101;
  grid-column-end: 111;
  grid-row-start: 45;
  grid-row-end: 63;
}

.L001B{
  grid-column-start: 119;
  grid-column-end: 128;
  grid-row-start: 53;
  grid-row-end: 63;
}

.L001A{
  grid-column-start: 119;
  grid-column-end: 128;
  grid-row-start: 43;
  grid-row-end: 53;
}

.L0E1{
  grid-column-start: 119;
  grid-column-end: 128;
  grid-row-start: 33;
  grid-row-end: 43;
}
