.fill3{
    grid-column-start: 1;
    grid-column-end: 35;
    grid-row-start: 1;
    grid-row-end: 90;
}

.L316{
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 77;
    grid-row-end: 84;
}

.L315{
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 84;
    grid-row-end: 97;
}

.L314{
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 70;
    grid-row-end: 77;
}

.L313{
    grid-column-start: 22;
    grid-column-end: 35;
    grid-row-start: 84;
    grid-row-end: 97;
}

.L312{
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 63;
    grid-row-end: 70;
}

.L311{
    grid-column-start: 22;
    grid-column-end: 35;
    grid-row-start: 70;
    grid-row-end: 84;
}

.L310{
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 50;
    grid-row-end: 63;
}

.L309{
    grid-column-start: 22;
    grid-column-end: 35;
    grid-row-start: 60;
    grid-row-end: 70;
}

.L308{
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 37;
    grid-row-end: 50;
}

.L307{
    grid-column-start: 22;
    grid-column-end: 35;
    grid-row-start: 50;
    grid-row-end: 60;
}

.L306{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 21;
    grid-row-end: 31;
}

.L305{
    grid-column-start: 22;
    grid-column-end: 35;
    grid-row-start: 36;
    grid-row-end: 50;
}

.L304{
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 15;
    grid-row-end: 21;
}

.L303{
    grid-column-start: 22;
    grid-column-end: 35;
    grid-row-start: 15;
    grid-row-end: 21;
}

.L302{
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 15;
}

.L301{
    grid-column-start: 17;
    grid-column-end: 35;
    grid-row-start: 1;
    grid-row-end: 15;
}

.L3E1{
    grid-column-start: 7;
    grid-column-end: 16;
    grid-row-start: 21;
    grid-row-end: 31;
}

.L3E2{
    grid-column-start: 22;
    grid-column-end: 35;
    grid-row-start: 21;
    grid-row-end: 36;
}

.L3E3{
    grid-column-start: 17;
    grid-column-end: 22;
    grid-row-start: 87;
    grid-row-end: 97;
}
