.menu{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    &-item{
        cursor: pointer;
    }
}

.hidden{
    display: none;
}

.container-left{
  min-width: 95vmin;
}

.scenario-edit-container{
  width: 50%;
  display: inline-block;
}

.scenario-edit-options-container{
  display: flex;
  flex-wrap: wrap;
}

.login-status-container{
    text-align: right;
    width: 100%;
}

.login-status{
    display: inline-block;
}

.user-navigation{
    display: flex;
    justify-content: space-evenly;
}

td,th{
    padding: .1rem !important;
}
