/* Room Layout css */
#plattegrond2{
  margin-top: 10%
}

#L118{
  float: left;
  width: 200px;
  height: 100px;
  background-color: lightgray;
  /*Margin*/

  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#L116{
  float: left;
  width: 35px;
  height: 45px;
  background-color: lightgray;
  /*Margin*/
  margin-top: 60px;
  margin-left: -35px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#L114{
  float: left;
  width: 80px;
  height: 150px;
  background-color: lightgray;
  /*Margin*/
  margin-top: -60px;
  margin-left: -1px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#L113{
  float: left;
  width: 40px;
  height: 40px;
  background-color: lightgray;
  /*Margin*/
  margin-top: 155px;
  margin-left: -385px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#L112{
  float: left;
  width: 80px;
  height: 150px;
  background-color: lightgray;
  /*Margin*/
  margin-top: -60px;
  margin-left: -1px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px dotted black;
}

#L111{
  float: left;
  width: 65px;
  height: 65px;
  background-color: lightgray;
  /*Margin*/
  margin-top: 130px;
  margin-left: -345px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#L109{
  float: left;
  width: 65px;
  height: 65px;
  background-color: lightgray;
  /*Margin*/
  margin-top: 130px;
  margin-left: -280px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#L108{
  float: left;
  width: 80px;
  height: 150px;
  background-color: lightgray;
  /*Margin*/
  margin-top: -60px;
  margin-left: -1px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L107{
  float: left;
  width: 65px;
  height: 65px;
  background-color: lightgray;
  /*Margin*/
  margin-top: 130px;
  margin-left: -215px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#L106{
  float: left;
  width: 75px;
  height: 60px;
  background-color: lightgray;
  /*Margin*/
  margin-top: -60px;
  margin-left: -1px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L105{
  float: left;
  width: 75px;
  height: 65px;
  background-color: lightgray;
  margin-top: 130px;
  margin-left: -150px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#L105a{
  float: left;
  width: 40px;
  height: 40px;
  background-color: lightgray;
  /*Margin*/
  margin-top: 155px;
  margin-left: -171px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#L104{
  float: left;
  width: 50px;
  height: 48px;
  background-color: lightgray;
  /*Margin*/
  margin-top: -1px;
  margin-left: -1px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L103{
  float: left;
  width: 75px;
  height: 65px;
  background-color: lightgray;
  margin-top: 130px;
  margin-left: -76px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px dotted black;
  border-right: 1px solid black;
}

#L102{
  float: left;
  width: 50px;
  height: 48px;
  background-color: lightgray;
  /*Margin*/
  margin-top: 42px;
  margin-left: -50px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L101{
  float: left;
  width: 50px;
  height: 34px;
  background-color: lightgray;
  margin-top: 161px;
  margin-left: -12px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#L101a{
  float: left;
  width: 40px;
  height: 32px;
  background-color: lightgray;
  margin-top: 130px;
  margin-left: -40px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#opvulling7{
  float: left;
  width: 35px;
  height: 45px;
  background-color: lightgray;
  /*Margin*/
  margin-top: 60px;
  margin-left: -80px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#opvulling8{
  float: left;
  width: 25px;
  height: 91px;
  background-color: darkgray;
  /*Margin*/
  margin-top: -1px;
  margin-left: -1px;
  /*Border*/
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#opvulling9{
  float: left;
  width: 120px;
  height: 30px;
  background-color: darkgray;
  /*Margin*/
  margin-top: 100px;
  margin-left: -465px;
  /*Border*/
  border-left: 1px solid black;
}

#opvulling10{
  float: left;
  width: 345px;
  height: 30px;
  background-color: darkgray;
  /*Margin*/
  margin-top: 105px;
  margin-left: -346px;
  /*Border*/
  border-right: 1px solid black;
}

#opvulling11{
  float: left;
  width: 275px;
  height: 30px;
  background-color: darkgray;
  /*Margin*/
  margin-top: 90px;
  margin-left: -276px;
  /*Border*/
  border-right: 1px solid black;
}

#opvulling12{
  float: left;
  width: 80px;
  height: 65px;
  background-color: darkgray;
  /*Margin*/
  margin-top: 130px;
  margin-left: -465px;
  /*Border*/
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#opvulling13{
  float: left;
  width: 40px;
  height: 25px;
  background-color: darkgray;
  /*Margin*/
  margin-top: 130px;
  margin-left: -385px;
  /*Border*/
}

#opvulling14{
  float: left;
  width: 40px;
  height: 41px;
  background-color: lightgray;
  /*Margin*/
  margin-top: 89px;
  margin-left: -39px;
  /*Border*/
  border-top: 1px solid black;
  border-right: 1px solid black;
}
