/* Room Layout css */
#plattegrond3{
  margin-top: 5%
}

#L224{
  float: left;
  width: 65px;
  height: 42px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -508px;
  margin-top: 329px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L222{
  float: left;
  width: 65px;
  height: 65px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -508px;
  margin-top: 265px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#L220{
  float: left;
  width: 65px;
  height: 45px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -508px;
  margin-top: 221px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L218a{
  float: left;
  width: 65px;
  height: 40px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -508px;
  margin-top: 182px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L218b{
  float: left;
  width: 65px;
  height: 40px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -508px;
  margin-top: 143px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L217{
  float: left;
  width: 50px;
  height: 65px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -418px;
  margin-top: 265px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

#L217a{
  float: left;
  width: 50px;
  height: 42px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -418px;
  margin-top: 329px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L216{
  float: left;
  width: 65px;
  height: 118px;
  background-color: lightgray;
  /*Margin*/

  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#L215{
  float: left;
  width: 50px;
  height: 37px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -418px;
  margin-top: 229px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L214{
  float: left;
  width: 35px;
  height: 45px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -14px;
  margin-top: 0px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L213{
  float: left;
  width: 50px;
  height: 88px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -418px;
  margin-top: 142px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L212{
  float: left;
  width: 55px;
  height: 45px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -1px;
  margin-top: 0px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L211{
  float: left;
  width: 45px;
  height: 50px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -369px;
  margin-top: 78px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L210{
  float: left;
  width: 45px;
  height: 55px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -1px;
  margin-top: 0px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L209{
  float: left;
  width: 50px;
  height: 50px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -325px;
  margin-top: 78px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L208{
  float: left;
  width: 65px;
  height: 55px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -1px;
  margin-top: 0px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L207{
  float: left;
  width: 50px;
  height: 50px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -276px;
  margin-top: 78px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L206{
  float: left;
  width: 65px;
  height: 55px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -1px;
  margin-top: 0px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L205{
  float: left;
  width: 45px;
  height: 50px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -227px;
  margin-top: 78px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L204{
  float: left;
  width: 60px;
  height: 55px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -1px;
  margin-top: 0px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L203{
  float: left;
  width: 46px;
  height: 50px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -183px;
  margin-top: 78px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L202a{
  float: left;
  width: 40px;
  height: 30px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -100px;
  margin-top: 0px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  line-height: 200%;
}

#L202b{
  float: left;
  width: 40px;
  height: 26px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -100px;
  margin-top: 29px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;

  line-height: 200%;
}

#L202{
  float: left;
  width: 100px;
  height: 80px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -1px;
  margin-top: 0px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;

  text-align: right;
}

#L201{
  float: left;
  width: 138px;
  height: 50px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -138px;
  margin-top: 78px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#L201a{
  float: left;
  width: 39px;
  height: 31px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -39px;
  margin-top: 49px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;

  text-align: right;
}

#opvulling15{
  float: left;
  width: 39px;
  height: 50px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -1px;
  margin-top: 0px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#opvulling16{
  float: left;
  width: 74px;
  height: 11px;
  background-color: darkgray;
  /*Margin*/
  margin-left: -443px;
  margin-top: 45px;
  /*Border*/
}

#opvulling17{
  float: left;
  width: 305px;
  height: 24px;
  background-color: darkgray;
  /*Margin*/
  margin-left: -443px;
  margin-top: 55px;
  /*Border*/
}

#opvulling18{
  float: left;
  width: 50px;
  height: 65px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -418px;
  margin-top: 78px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#opvulling19{
  float: left;
  width: 25px;
  height: 188px;
  background-color: darkgray;
  /*Margin*/
  margin-left: -443px;
  margin-top: 78px;
  /*Border*/
  border-bottom: 1px solid black;
}

#opvulling20{
  float: left;
  width: 65px;
  height: 25px;
  background-color: darkgray;
  /*Margin*/
  margin-left: -508px;
  margin-top: 118px;
  /*Border*/
  border-left: 1px solid black;
}

#opvulling21{
  float: left;
  width: 27px;
  height: 64px;
  background-color: lightgray;
  /*Margin*/
  margin-left: -444px;
  margin-top: 266px;
  /*Border*/
  border-left: 1px dotted black;
  border-right: 1px dotted black;
  border-bottom: 1px solid black;
}

#opvulling22{
  float: left;
  width: 27px;
  height: 42px;
  background-color: darkgray;
  /*Margin*/
  margin-left: -444px;
  margin-top: 329px;
  /*Border*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
