@import 'modules/breakpoints';
@import 'modules/mixins';
@import 'modules/variables';
@import 'modules/typography';

@import 'components/verdieping';

@import 'components/home';
@import 'components/switch';
@import 'components/flash-message';
@import 'components/steps';
@import 'components/scenariomodal';

.fas, .far, .options{
    cursor: pointer;
}
.row--disfl{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    button{
        margin-right: 10px;
    }
}
.row{
    margin-bottom: 10px;
}
body
{
	overflow-x: hidden;
}
.btn-primary
{
	background: $primary !important;
}