@import 'modules/breakpoints';
@import 'modules/mixins';
@import 'modules/variables';
@import 'modules/typography';

@import 'components/verdieping';

@import 'components/home';
@import 'components/switch';
@import 'components/flash-message';
@import 'components/steps';
@import 'components/scenariomodal';
$px: 30px;
.extra-border{
    position: relative;
    &:after{
        position: absolute;
        content: '';
        right: 0;
        width: $px;
        height: 1px;
        bottom: -1px;
        border-bottom: 1px solid #dee2e6;
        margin-right: $px * -1;
    }
}
.nav-link{
    transition: .2s ease;
}
.fas, .far, .options{
    cursor: pointer;
}
.row--disfl{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    button{
        margin-right: 10px;
    }
}
.row{
    margin-bottom: 10px;
}
body
{
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    color: $primary;
    &:hover{
        color: darken($primary, 30);
    }
}

.btn-primary
{
    background: $primary;
    border-color: $primary;
    &:hover{
        background: darken($primary, 30);
        border-color: darken($primary, 30);
    }
}

.btn-secondary
{
    background: $secondary;
    border-color: $secondary;
    &:hover{
        background: darken($secondary, 10);
        border-color: darken($secondary, 10);
    }
}

.bg-primary
{
    background: $primary !important;
}
.bg-secondary
{
    background: $secondary !important;
}
.thead-primary{
    background: $primary;
    border-color: $primary;
    color: white;
}

.thead-secondary{
    background: $secondary;
    border-color: $secondary;
    color: white;
}
